In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [132]:
df = pd.read_csv('..\data\dataset_final_v1.csv', index_col=0)
df.head()

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Crime,Romance,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie
0,2014-11-12,Dumb and Dumber To,40000000,169837010,110,"['Bobby Farrelly', 'Peter Farrelly']","['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",3,1,...,0,0,0,0,0,0,0,0,0,0
1,2004-11-11,Марс,2000000,240000,100,['Anna Melikyan'],"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",1,1,...,0,0,0,0,0,0,0,0,0,0
2,2014-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"['Anthony Russo', 'Joe Russo']","['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2,0,...,0,0,0,0,0,0,0,0,0,0
3,2012-03-15,Тот ещё Карлосон!,4000000,9938268,80,['Sarik Andreasyan'],"['Mikhail Galustyan', 'Igor Vernik', 'Mariya S...",['Enjoy Movies'],1,1,...,0,0,0,0,0,0,0,0,0,0
4,1997-04-03,The Saint,68000000,118063304,116,['Phillip Noyce'],"['Val Kilmer', 'Elisabeth Shue', 'Rade Šerbedž...","['Paramount', 'Mace Neufeld Productions', 'Rys...",1,0,...,0,1,0,0,0,0,0,0,0,0

In [133]:
date = '2001-08-04'
liste = date.split('-')
liste[0] = '0000'
string = ''
for i in liste:
    string += i + '-'

print(string[:-1])

0000-08-04

In [134]:
def modif_date(row):
    date = row['date']
    liste = date.split('-')
    liste[0] = '2000'
    string = ''
    for i in liste:
        string += i + '-'
    row['date'] = string[:-1]
    return row

In [135]:
df = df.apply(modif_date, axis = 1)

In [136]:
df['date'] = pd.to_datetime(df['date'])

In [137]:
df['benefice global'] = (df['recette'] - df['budget'])/df['budget']

In [138]:
def add_season(row):
    dico_saison = {'printemps': 0, 'été': 1, 'automne' : 2, 'hiver' : 3}
    if row['date'] >= pd.to_datetime('2020-12-21') or row['date'] <= pd.to_datetime('2020-03-19'):
        row['saison'] = dico_saison['hiver']
    if pd.to_datetime('2020-03-20') <= row['date'] <= pd.to_datetime('2020-06-20'):
        row['saison'] = dico_saison['printemps']
    if pd.to_datetime('2020-06-21') <= row['date'] <= pd.to_datetime('2020-09-22'):
        row['saison'] = dico_saison['été']
    else : 
        row['saison'] = dico_saison['automne']
    return row

In [139]:
df = df.apply(add_season, axis = 1)

In [140]:
df.head()

,date,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,...,Animation,Mystery,War,Music,Western,History,Documentary,TV Movie,benefice global,saison
0,2000-11-12,Dumb and Dumber To,40000000,169837010,110,"['Bobby Farrelly', 'Peter Farrelly']","['Jim Carrey', 'Jeff Daniels', 'Laurie Holden'...","['New Line Cinema', 'Universal Pictures', 'Con...",3,1,...,0,0,0,0,0,0,0,0,3.245925,2
1,2000-11-11,Марс,2000000,240000,100,['Anna Melikyan'],"['Nana Kiknadze', 'Artur Smolyaninov', 'Yevgen...","['Central Partnership', 'Studio SLON']",1,1,...,0,0,0,0,0,0,0,0,-0.880000,2
2,2000-03-20,Captain America: The Winter Soldier,170000000,714766572,136,"['Anthony Russo', 'Joe Russo']","['Chris Evans', 'Scarlett Johansson', 'Sebasti...",['Marvel Studios'],2,0,...,0,0,0,0,0,0,0,0,3.204509,2
3,2000-03-15,Тот ещё Карлосон!,4000000,9938268,80,['Sarik Andreasyan'],"['Mikhail Galustyan', 'Igor Vernik', 'Mariya S...",['Enjoy Movies'],1,1,...,0,0,0,0,0,0,0,0,1.484567,2
4,2000-04-03,The Saint,68000000,118063304,116,['Phillip Noyce'],"['Val Kilmer', 'Elisabeth Shue', 'Rade Šerbedž...","['Paramount', 'Mace Neufeld Productions', 'Rys...",1,0,...,0,0,0,0,0,0,0,0,0.736225,2

In [141]:
df.drop(['date'], axis = 1, inplace = True)

In [142]:
df_actor = pd.read_csv('../data/actor_ratings.csv', index_col=0)
df_compagnies = pd.read_csv('../data/compagnies_ratings.csv', index_col=0)
df_director = pd.read_csv('../data/director_ratings.csv', index_col=0)

In [143]:
df_actor.head()

           Actor_Name  Worldwide_box_office  rating
0  Scarlett Johansson           14522750835     100
1  Robert Downey, Jr.           14396065966      99
2   Samuel L. Jackson           14365356177      98
3     Chris Hemsworth           11945886832      82
4         Chris Pratt           11742676900      80

In [144]:
df_compagnies.head()

          Compagny_Name  Worldwide_box_office  rating
0          Warner Bros.           48055413164     100
1    Universal Pictures           47901646442      99
2     Columbia Pictures           45406879151      94
3  Walt Disney Pictures           39988482983      83
4    Paramount Pictures           35708606956      74

In [145]:
df_director.head()

      Director_Name  Worldwide_box_office  rating
0  Steven Spielberg           10639955364     100
1     Anthony Russo            6843246470      64
2         Joe Russo            6843246470      64
3     Peter Jackson            6536703723      61
4       Michael Bay            6495374196      61

In [146]:
df_actor.describe()

       Worldwide_box_office       rating
count          1.797000e+03  1797.000000
mean           1.080690e+09     6.984418
std            1.643529e+09    11.293847
min            1.457843e+08     1.000000
25%            2.488469e+08     1.000000
50%            4.729444e+08     3.000000
75%            1.126337e+09     7.000000
max            1.452275e+10   100.000000

In [151]:
list_keys = ['realisateur', 'casting', 'compagnies_production']

def str_to_list(df, key):
    df_new = df

    for k in key: #on parcourt les clés à modifier spécifiées en argument de la fonction

        for ind in range(df_new.shape[0]): #on parcourt toutes les lignes du Dataframe

            string = df_new[k].iloc[ind] #on récupère la valeur à modifier pour chaque ligne

            if type(string) == str : # on vérifie si c'est bien une string
                
                #création de la nouvelle variable de type liste qui remplacera l'ancienne

                liste_finale = []

                #remplissage de la variable de type liste en faisant des opérations sur la string

                list_string = string[1:-1].split(',')
                for i,j in enumerate(list_string):
                    if i == 0:
                        mot = j[1:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                    else:
                        mot = j[2:-1]
                        if mot not in liste_finale:
                            liste_finale.append(mot)
                
                #affectation de la nouvelle valeur de type liste à l'élément modifié du Dataframe

                df_new.at[ind,k] = liste_finale

    return df_new

In [152]:
df = str_to_list(df,list_keys)

In [153]:
from difflib import SequenceMatcher

In [154]:
def comparaison_string(str1, str2): #Renvoie la ressemblance en deux strings
    S = SequenceMatcher(None,  str1, str2)
    if S.ratio() > 0.8 :
        return True
    else :
        return False

In [170]:
def calcul_scores_casting(row):
    liste_score = []
    for i in list(row['casting']):
        score = 0
        for j in list(df_actor['Actor_Name']):
            if comparaison_string(i, j):
                score = int(df_actor[df_actor['Actor_Name'] == j]['rating'])
                break
            else :
                pass
        liste_score.append(score)
    liste_score_sorted = sorted(liste_score)       
    sum_score = sum(liste_score_sorted)
    centre = len(liste_score_sorted) // 2
    mediane_score = (liste_score_sorted[centre] + liste_score_sorted[~centre]) / 2   
    row['casting_score_sum'] = sum_score
    row['casting_score_mean'] = sum_score/len(liste_score)
    row['casting_score_med'] = int(mediane_score)
    row['casting_score_min'] = liste_score_sorted[0]
    row['casting_score_max'] = liste_score_sorted[len(liste_score_sorted)-1]
    return row

df_test = df.apply(calcul_scores_casting, axis = 1)
df_test.head()

,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,Drama,...,History,Documentary,TV Movie,benefice global,saison,casting_score_sum,casting_score_mean,casting_score_med,casting_score_min,casting_score_max
0,Dumb and Dumber To,40000000,169837010,110,"[Bobby Farrelly, Peter Farrelly]","[Jim Carrey, Jeff Daniels, Laurie Holden, Rach...","[New Line Cinema, Universal Pictures, Conundru...",3,1,0,...,0,0,0,3.245925,2,79,1.179104,0,0,38
1,Марс,2000000,240000,100,[Anna Melikyan],"[Nana Kiknadze, Artur Smolyaninov, Yevgeniya D...","[Central Partnership, Studio SLON]",1,1,1,...,0,0,0,-0.880000,2,0,0.000000,0,0,0
2,Captain America: The Winter Soldier,170000000,714766572,136,"[Anthony Russo, Joe Russo]","[Chris Evans, Scarlett Johansson, Sebastian St...",[Marvel Studios],2,0,0,...,0,0,0,3.204509,2,459,7.061538,0,0,100
3,Тот ещё Карлосон!,4000000,9938268,80,[Sarik Andreasyan],"[Mikhail Galustyan, Igor Vernik, Mariya Semkin...",[Enjoy Movies],1,1,0,...,0,0,0,1.484567,2,0,0.000000,0,0,0
4,The Saint,68000000,118063304,116,[Phillip Noyce],"[Val Kilmer, Elisabeth Shue, Rade Šerbedžija, ...","[Paramount, Mace Neufeld Productions, Rysher E...",1,0,0,...,0,0,0,0.736225,2,25,0.862069,0,0,8

In [171]:
df_test.to_csv('../data/dataset_new_score.csv')

In [172]:
def calcul_scores_realisateur(row):
    liste_score = []
    for i in list(row['realisateur']):
        score = 0
        for j in list(df_director['Director_Name']):
            if comparaison_string(i, j):
                score = int(df_director[df_director['Director_Name'] == j]['rating'])
                break
            else :
                pass
        liste_score.append(score)
    liste_score_sorted = sorted(liste_score)       
    sum_score = sum(liste_score_sorted)
    centre = len(liste_score_sorted) // 2
    mediane_score = (liste_score_sorted[centre] + liste_score_sorted[~centre]) / 2   
    row['director_score_sum'] = sum_score
    row['director_score_mean'] = sum_score/len(liste_score)
    row['director_score_med'] = int(mediane_score)
    row['director_score_min'] = liste_score_sorted[0]
    row['director_score_max'] = liste_score_sorted[len(liste_score_sorted)-1]
    return row

In [173]:
df_test2 = df_test.apply(calcul_scores_realisateur, axis = 1)
df_test2.head()

,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,Drama,...,casting_score_sum,casting_score_mean,casting_score_med,casting_score_min,casting_score_max,director_score_sum,director_score_mean,director_score_med,director_score_min,director_score_max
0,Dumb and Dumber To,40000000,169837010,110,"[Bobby Farrelly, Peter Farrelly]","[Jim Carrey, Jeff Daniels, Laurie Holden, Rach...","[New Line Cinema, Universal Pictures, Conundru...",3,1,0,...,79,1.179104,0,0,38,27,13.5,13,13,14
1,Марс,2000000,240000,100,[Anna Melikyan],"[Nana Kiknadze, Artur Smolyaninov, Yevgeniya D...","[Central Partnership, Studio SLON]",1,1,1,...,0,0.000000,0,0,0,0,0.0,0,0,0
2,Captain America: The Winter Soldier,170000000,714766572,136,"[Anthony Russo, Joe Russo]","[Chris Evans, Scarlett Johansson, Sebastian St...",[Marvel Studios],2,0,0,...,459,7.061538,0,0,100,128,64.0,64,64,64
3,Тот ещё Карлосон!,4000000,9938268,80,[Sarik Andreasyan],"[Mikhail Galustyan, Igor Vernik, Mariya Semkin...",[Enjoy Movies],1,1,0,...,0,0.000000,0,0,0,0,0.0,0,0,0
4,The Saint,68000000,118063304,116,[Phillip Noyce],"[Val Kilmer, Elisabeth Shue, Rade Šerbedžija, ...","[Paramount, Mace Neufeld Productions, Rysher E...",1,0,0,...,25,0.862069,0,0,8,11,11.0,11,11,11

In [174]:
df_test2.to_csv('../data/dataset_new_score_v2.csv')

In [175]:
def calcul_scores_compagnies(row):
    liste_score = []
    for i in list(row['compagnies_production']):
        score = 0
        for j in list(df_compagnies['Compagny_Name']):
            if comparaison_string(i, j):
                score = int(df_compagnies[df_compagnies['Compagny_Name'] == j]['rating'])
                break
            else :
                pass
        liste_score.append(score)
    liste_score_sorted = sorted(liste_score)       
    sum_score = sum(liste_score_sorted)
    centre = len(liste_score_sorted) // 2
    mediane_score = (liste_score_sorted[centre] + liste_score_sorted[~centre]) / 2   
    row['compagnies_score_sum'] = sum_score
    row['compagnies_score_mean'] = sum_score/len(liste_score)
    row['compagnies_score_med'] = int(mediane_score)
    row['compagnies_score_min'] = liste_score_sorted[0]
    row['compagnies_score_max'] = liste_score_sorted[len(liste_score_sorted)-1]
    return row

In [176]:
df_test3 = df_test2.apply(calcul_scores_compagnies, axis = 1)
df_test3.head()

,titre,budget,recette,duree,realisateur,casting,compagnies_production,suite,Comedy,Drama,...,director_score_sum,director_score_mean,director_score_med,director_score_min,director_score_max,compagnies_score_sum,compagnies_score_mean,compagnies_score_med,compagnies_score_min,compagnies_score_max
0,Dumb and Dumber To,40000000,169837010,110,"[Bobby Farrelly, Peter Farrelly]","[Jim Carrey, Jeff Daniels, Laurie Holden, Rach...","[New Line Cinema, Universal Pictures, Conundru...",3,1,0,...,27,13.5,13,13,14,135,33.75,18,0,99
1,Марс,2000000,240000,100,[Anna Melikyan],"[Nana Kiknadze, Artur Smolyaninov, Yevgeniya D...","[Central Partnership, Studio SLON]",1,1,1,...,0,0.0,0,0,0,0,0.00,0,0,0
2,Captain America: The Winter Soldier,170000000,714766572,136,"[Anthony Russo, Joe Russo]","[Chris Evans, Scarlett Johansson, Sebastian St...",[Marvel Studios],2,0,0,...,128,64.0,64,64,64,81,81.00,81,81,81
3,Тот ещё Карлосон!,4000000,9938268,80,[Sarik Andreasyan],"[Mikhail Galustyan, Igor Vernik, Mariya Semkin...",[Enjoy Movies],1,1,0,...,0,0.0,0,0,0,0,0.00,0,0,0
4,The Saint,68000000,118063304,116,[Phillip Noyce],"[Val Kilmer, Elisabeth Shue, Rade Šerbedžija, ...","[Paramount, Mace Neufeld Productions, Rysher E...",1,0,0,...,11,11.0,11,11,11,9,3.00,0,0,9

In [177]:
df_test3.to_csv('../data/dataset_new_score_v3.csv')